@import "../../styles/base.scss";

.Step3 {
  color: $secondary-color;
}
.Step3-info {
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  font-weight: 600;
  display: flex;
}

.Step3-textBox {
  margin: 1rem;
}

.Step3-title {
  font-size: 1.25rem;
}
