@import "../../styles/base.scss";

.Step3 {
  color: $secondary-color;
}
.Step3-info {
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}

.Step3-textBox {
  margin: 1rem;
}

.Step3-title {
  font-size: 1.25rem;
}

.Spinning-image-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 3rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.Spinning-image {
  width: 100px;
  margin: 2.5rem;
  animation: rotation 1.5s infinite linear;
}

@media (min-width: 576px) {
  .Step3-info {
    flex-flow: row;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
