//Theme's color palette
$primary-color: #ff0049;
$secondary-color: #002b45;
$secondary-color-opaque: #788f9c;
$terciary-color: #fff1e5;

$white: #ffffff;
$black: #000000;
$light-grey: #ccd5da;
$light-grey2: #a9aeb1;
