@import "../../styles/base.scss";

.Icon-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
  cursor: pointer;
  padding: 0.75rem;
  width: 125px;
  background-color: $secondary-color;
  color: $white;
  font-size: 1.1rem;
}
