@import "../../styles/base.scss";

.Step1 {
  color: $secondary-color;
}
.Step1-info {
  padding: 1.5rem;
  font-weight: 500;
}

.Text-title {
  font-weight: 800;
}

.Advantages-container {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
}

.Advantage-block {
  width: 100%;

  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 200px;
    height: 200px;
  }
}

.Advantage-text {
  text-align: center;
  width: 100%;
  font-weight: 600;
}

.Checkbox-container {
  display: flex;
  align-items: flex-start;
  font-weight: 600;
  cursor: pointer;
}

.Step1-label {
  cursor: pointer;
}

.Step1-checkbox {
  -webkit-appearance: none;
  min-width: 16px;
  min-height: 16px;
  background: $white;
  border-radius: 5px;
  border: 2px solid $secondary-color;
}

.Step1-checkbox:checked {
  background: $secondary-color-opaque;
}

@media (min-width: 576px) {
  .Advantages-container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .Advantage-block {
    margin: 0 2rem;
    width: 30%;
  }
}
